Flask
mysql-connector-python
pandas
opencv-python
ultralytics
easyocr
flask-cors
python-dotenv
openpyxl
dash
dash-bootstrap-components
plotly
streamlit
pdf2image
ultralytics
easyocr
opencv-python-headless